<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
    </head>

    <body>
        <h1>Etusivu</h1>

        <h2>Aiheet</h2>
        
        <ul>
            <li th:each="alu : ${alue}">                
                <span th:text="${alu.nimi}">Alue</span><span th:text="${alu.viesteja}">Viestien määrä</span>
                <span th:text="${alu.time}">Viimeisin viesti</span>
            </li>
        </ul>
        
    </body>
</html>